<div class="signup">

  <h1 class="signup-h1">Sign Up</h1>

  <%= form_with model: @user, url: user_registration_path, local: true  do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table class="user_info">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
            <i class="fa-brands fa-google"></i>　Googleでログインする
            <% end %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :name, "ニックネーム" %></td>
          <td><%= f.text_field :name, autofocus: true, :placeholder => "ニックネーム" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <% if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, true %>
        <% else %>
        <tr>
          <td>
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, "パスワード確認用" %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= f.submit "MAKE", class: "btn-signup" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

</div>
