<h1 class="task-h1">Task</h1>
<div class="user_show_container">
  <div class="user_show_flex-item"><%= attachment_image_tag @user, :image, class: "icon" %></div>
  <div class="user_show_flex-item">
    <%= @user.name %>さん</br>
    Lv.<%= @user.level %><br>
    <small>どうぶつランク</small></br>
    <%= @user.job_status_i18n %>

    <% if @user.level == 1 %>
      <%= image_tag asset_path('毛虫アイコン.png'), class: 'job_status-img' %>
    <% elsif @user.level == 2 %>
      <%= image_tag asset_path('ネズミのアイコン1.png'), class: 'job_status-img' %>
    <% elsif @user.level == 3 %>
      <%= image_tag asset_path('118000.png'), class: 'job_status-img' %>
    <% elsif @user.level == 4 %>
      <%= image_tag asset_path('猫の無料アイコン2.png'), class: 'job_status-img' %>
    <% elsif @user.level == 5 %>
      <%= image_tag asset_path('馬アイコン3.png'), class: 'job_status-img' %>
    <% elsif @user.level == 6 %>
      <%= image_tag asset_path('キリンアイコン3.png'), class: 'job_status-img' %>
    <% elsif @user.level == 7 %>
      <%= image_tag asset_path('ライオンの無料アイコン2.png'), class: 'job_status-img' %>
    <% elsif @user.level == 8 %>
      <%= image_tag asset_path('ユニコーンのアイコン1.png'), class: 'job_status-img' %>
    <% elsif @user.level == 9 %>
      <%= image_tag asset_path('130653.png'), class: 'job_status-img' %>
    <% elsif @user.level == 10 %>
      <%= image_tag asset_path('2272915.png'), class: 'job_status-img' %>
    <% else %>
    <% end %>


    <%=@user.experience_point %>/<%= @thresold %></br>

    <progress value=<%= @user.experience_point.to_s %> max=<%= @thresold.to_s %> min=<%= @progress_min.to_s %> class="progress-bar"></progress>


    <%= link_to edit_user_path(@user), class: 'btn-user-edit' do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>
   <div class="user_show_flex_item">
    <a href="#modal-03">
    <i class="fa-regular fa-circle-question"></i>
    </a>
  </div>
</div>

<div class="modal-wrapper" id="modal-03">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
    <div class="task-info-box">
     <h1>Taskの使い方</h1>

      <div class="task-info">
        <%= image_tag asset_path('デスクワークアイコン.png'), class: 'task-img' %>
        <div>まずは<span class="c-marker-task">NewTask</span>から新規作成！</div>

        <%= image_tag asset_path('〆切のアイコン.png'), class: 'task-img' %>
        <div>
          それぞれのタスクには<span class="c-marker-task">〆切と重要度</span>が設定できます！</br>
          重要度は「やばい」「ふつう」「ぜんぜん」から選択。</br>
          あなたにとっての重要度を選んでください。</br>
        </div>
      </div>
      <div class="task-info">
        <%= image_tag asset_path('ポイントアイコン.png'), class: 'task-img' %>
        <div>
          タスクの重要度にあわせてポイントをGET！</br>
          <span class="c-marker-task">「やばい」→　15 Pt !</br>
          「ふつう」→　10 Pt</br>
          「ぜんぜん」→　5 Pt</span></br>
        </div>

        <%= image_tag asset_path('出世アイコン2.png'), class: 'task-img' %>
        <div>
          貯めたPtに応じて、<span class="c-marker-task">Lvがアップします！</span></br>
          <span class="c-marker-task">毎日のタスク処理が、少しでも楽しくなりますように…</span></br>
        </div>
      </div>
    </div>


    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>



<div class="task_new">
  <%= link_to "NewTask", new_task_path, class: 'btn-task-new' %>
</div>

<div class="task">

  <div class="task_index_container">
    <h4>Todo</h4>
    <% @tasks.each do |task| %>
      <div class="task-box">
          <%= task.text %>
          <%= link_to 'Done', done_task_path(task), method: :post, class: 'btn-done' %></br>
          〆切
          <%= task.deadline_at.strftime("%Y/%m/%d %H:%M") %></br>
          重要度
          <%= task.importance_i18n %></br>
          <div class="btn-task-link">
            <%= link_to "EDIT", edit_task_path(task), class: 'btn-task-box' %>
            <%= link_to "DELETE", task_path(task), method: :delete, class: 'btn-task-box' %>
          </div>
      </div>
    <% end %></br>
      <h4>期限切れ</h4>
        <% @tasks_expired.each do |task| %>
          <div class="expired-task">
            <%= task.text %>
            <%= link_to "Done", done_task_path(task), method: :post, class: 'btn-done' %>
             〆切
            <%= task.deadline_at.strftime("%Y/%m/%d %H:%M") %></br>
            重要度
            <%= task.importance_i18n %></br>
            <div class="btn-task-link">
            <%= link_to "EDIT", edit_task_path(task), class: 'btn-task-box' %>
            <%= link_to "DELETE", task_path(task), method: :delete, class: 'btn-task-box' %>
            </div>
          </div>
        <% end %>
  </div>


  <div class="done-task_index_container">
  <h4>Done</h4>
    <% @tasks_done.each do |task| %>
      <div class="done-task">
        <%= task.text %></br>
        重要度
        <%= task.importance_i18n %></br>
        完了日：<%= task.completion_at.strftime("%Y/%m/%d %H:%M") %>
      </div>
    <% end %>
  <%= paginate @tasks_done %>
  </div>
</div>