<h1>Task新規作成画面</h1>
<%= form_with model: @task, url: tasks_path, local: true do |f| %>
<table class="task_new">
  <tr><th><%= f.label :text, "Task" %></th><td><%= f.text_field :text %></td></tr>
  <tr>
    <th><%= f.label :deadline_at, "〆切" %></th>
    <td><%= f.datetime_field :deadline_at %></td>
  </tr>
  <tr>
    <th><%= f.label :importance, "重要度" %></th>
    <td><%= f.collection_radio_buttons :importance, Task.importances_i18n, :first, :last %>
    </td>
  </tr>
  <tr><th></th><td><%= f.submit "START", class: "submit_to_task" %></td></tr>
</table>
<% end %>