<h2>ログイン画面</h2>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <table class="user_log_in">
    <thead>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td><%= f.label :password, "パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
          <% if devise_mapping.rememberable? %>
        <td>
            <%= f.check_box :remember_me %>
        </td>
        <td>
            <%= f.label :remember_me %>
        </td>
          <% end %>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "ログイン" %></td>
      </tr>
    </tbody>
  </table>
<%= render "devise/shared/links" %>
