<!DOCTYPE html>
<html>
  <head>
    <title>Enjob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/dca5024b35.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&family=Playfair+Display&display=swap" rel="stylesheet">
  <body data-turbolinks="false">

    <header id = "global-head">
      <h1 id="brand-logo">Enjob</h1>
    </header>

    <div id="nav-toggle">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <aside id="sidebar">
      <nav id="global-nav">
        <% if user_signed_in? %>
        <ul>
          <li><%= current_user.name %>さん</li>
          <li><%= attachment_image_tag current_user, :image, class: "icon" %></li>
        <% end %>
          <li><%= link_to "TOP", root_path %></li>
        <% if user_signed_in? %>

          <li>
              <%= link_to tasks_path do %>
              <% if unchecked_notifications.any? %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
              Task
              <% end %>
          </li>
          <li><%= link_to "Event", events_path %></li>
          <li><%= link_to "Ranking", users_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
          <br>
        </ul>
      </nav>
    </aside>



    <main id="main">
      <div id="main-in">
        <div id="main-visual">
          <%= yield %>
        </div>
      </div>
    </main>

    <div id="overlay"></div>
  </body>
</html>
